<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701218164702-u8ua52ce3j2rliub5oc97qo717icgi18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701218164702-u8ua52ce3j2rliub5oc97qo717icgi18</string>
	<key>API_KEY</key>
	<string>AIzaSyDwtHotadvTBEjFQHBlBS7T1HUaXqraOAE</string>
	<key>GCM_SENDER_ID</key>
	<string>701218164702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cy.fil</string>
	<key>PROJECT_ID</key>
	<string>fil-flutter-f31f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fil-flutter-f31f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701218164702:ios:117b9a54f1218ca47ad74f</string>
</dict>
</plist>